.userProfile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left:40%;
}

.name{
    color: red ;
}
/* .bigContent{
    overflow-x: hidden;
} */
.username{
    border: 1px solid #000;
    width: fit-content;
    padding-inline:10px ;
    border-radius: 10px;
}
.imgBar{
    height: 30px;
    width: 30px;
}
.profile {
    display: flex;
    gap: 40px;
    height: 90vh;
}
.userName{
    margin-left: 40%;
    margin-top: 2%;
}
.profileLinks {
    background-color: #000;
    height: calc(100vh-65px);
    border: 1px solid #000;
}
.profileLinks nav a{
    color: #fff !important;
    text-decoration: none;
    
}
.profileLinks nav a img{
    margin-right: 10px;
}
.profileLinks nav{
   
    margin-left: 30px;
    margin-top: 50px;
   width: 200px;
    display: flex;
   
    flex-direction: column;
    gap: 60px;
}
.table{
    overflow-y:scroll;
    display: block;
    height:85vh;    
    /* width: 55% !important; */
}
.imgDetails{
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: 1px solid #F6BC3E;
}
td{
    text-align: center; 
}
.user-contact,.user-info,.user-order{
    /* border: 3px solid #F6BC3E; */
    height: 89vh;
}
.xMark{
    color: #ff0302;;
}
